<table id="table" datatable="ng" class="row-border hover" >
    <thead>
        <tr>
            <th>
                <div class="form-group">
                    <label>
                        <input autofocus="" class="form-control" type="number" name="id" ng-model="item.id" value="" disabled>
                    </label>
                </div>
            </th>
            <th>
                <div class="form-group">
                    <label>
                        <select ng-model="item.owner.id" ng-options="user.id as (user.firstName +' '+ user.lastName) for user in users" class="form-control" name="owner"></select>
                    </label>
                </div>
            </th>
            <th>
                <div class="form-group">
                    <label>
                        <select ng-model="item.model.id" ng-options="model.id as model.name for model in models" class="form-control" name="model"></select>
                    </label>
                </div>
            </th>
            <th>
                <div class="form-group">
                    <label>
                        <select ng-model="item.model.producer.id" ng-options="producer.id as producer.name for producer in producers" class="form-control" name="producer"></select>
                    </label>
                </div>
            </th>
            <th>
                <div class="form-group">
                    <label>
                        <select ng-model="item.room.id" ng-options="room.id as room.name for room in rooms" class="form-control" name="room"></select>
                    </label>
                </div>
            </th>
            <th>
                <div class="form-group">
                    <label>
                        <select ng-model="item.room.building.id" ng-options="building.id as building.name for building in buildings" class="form-control" name="building"></select>
                    </label>
                </div>
            </th>
            <th>
                <div class="form-group">
                    <label>
                        <input type="text" class="form-control" name="securityLevel" ng-model="item.securityLevel" value="" disabled>
                    </label>
                </div>
            </th>
            <th>
                <div class="form-group">
                    <button ng-if="itemStatus == 'add'" type="submit" ng-click="onAdd()" class="btn btn-success">add</button>
                    <button ng-if="itemStatus == 'update'" type="submit" ng-click="onUpdate()" class="btn btn-success">update</button>
                    <button ng-if="itemStatus == 'update'" ng-click="onEditCancel()" class="btn btn-warning">Cancel</button>
                </div>
            </th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Owner</th>
            <th>Model</th>
            <th>Producer</th>
            <th>Room</th>
            <th>Building</th>
            <th>Security level</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="device in list">
            <td>{{device.id}}</td>
            <td>{{device.owner.firstName + " " + device.owner.lastName}}</td>
            <td>{{device.model.name}}</td>
            <td>{{device.model.producer.name}}</td>
            <td>{{device.room.name}}</td>
            <td>{{device.room.building.name}}</td>
            <td>{{device.securityLevel}}</td>
            <td>
                <button type="button" ng-click="onEdit($index)" class="list-btn btn btn-lg btn-warning">edit</button>
                <button type="button" ng-click="onDelete($index)" class="list-btn btn btn-lg btn-danger">delete</button>
            </td>
        </tr>
    </tbody>
</table>